@charset "UTF-8";

/* 汎用要素 */
* {
  color: #222;
}

a {
  color: #666;
  text-decoration: underline;
}

.button {
  border: 1px solid #222;
  background: rgba(25,25,25,0.5);
  color: #fff;
  padding: 0.8rem 1.2rem;
  display: block;
  text-align: center;
  transition: 0.5s;
}

.button:hover {
  background: #fff;
  color: #222;
}

/* 取り消し線 */
.line-through {
  text-decoration: line-through;
}

.lead {
  margin: -0.2rem 0.2rem;
  font-size: 0.9rem;
}

/* トップ（index） */
.top-wrapper {
  background:
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.top {
  color: #fff;
}

.top.left-side {
  background-color: rgba(25,25,25,0.6);
  padding-left: 190px;
  margin-left: -190px;
  transform: skewX(-20deg);
  width: 80vw;
}

.top .site-title {
  transform: skewX(20deg);
  display: flex;
  justify-content: center;
  font-size: 6em;
  color: #fff;
  margin: 8rem auto;
  line-height: 1.2;
}

.top .button {
  transform: skewX(20deg);
  width: 10rem;
  margin: 5rem auto 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.top.right-side {
  background-color: rgba(204,204,204,0.6);
  transform: skewX(-20deg);
  padding-right: 30vw;
  margin-right: -30vw;
}

.top .lead {
  transform: skewX(20deg);
  margin-top: 80vh;
  margin-left: 3rem;
  font-size: 1.5rem;
}

/* サイドバー */
.sidebar {
  height: 100vh;
  width: 40vw;
}

.side-wrapper {
  position: fixed;
  height: 100vh;
  transform: skewX(-15deg);
  width: 40vw;
  padding-left: 190px;
  margin-left: -190px;
  background-color: rgba(25,25,25,0.6);
}

.side-wrapper > * {
  transform: skewX(15deg);
}

.side-wrapper .site-title a {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  line-height: 1.2;
  margin: 3rem 0;
  display: block;
}

.global-nav {
  list-style: none;
  font-size: 1.2rem;
}

.global-nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0.3rem 0;
}

.sns-list {
  display: flex;
  list-style: none;
}

.sns-list li a i {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

/* コンテンツ部分 */
.wrapper {
  display: flex;
  justify-content: space-evenly;
  background:
    linear-gradient(45deg, transparent 74px, transparent 75px, #c0c0c0 75px, #c0c0c0 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #c0c0c0 76px, #c0c0c0 77px, transparent 78px, transparent 109px);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-color: rgba(245,245,245,0.5)
}

.wrapper .right-side {
  width: 60vw;
}

.contents {
  margin: 1rem 0.2rem;
  width: 90%;
}

.contents_h1 {
  font-size: 2rem;
  color: #666;
  position: relative;
}

.contents_h1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  background: rgba(204,204,204,0.6);
  height: 5px;
  width: 90%;
}

.contents_p {
  margin: 1.2rem 0.6rem;
}
