@charset "UTF-8";

/* 汎用要素 */
* {
  color: #222;
  line-height: 1.6;
}

a {
  color: #666;
  text-decoration: underline;
}

.button {
  border: 1px solid #222;
  background: rgba(25,25,25,0.5);
  color: #fff;
  padding: 0.8rem 1.2rem;
  display: block;
  text-align: center;
  transition: 0.5s;
}

.button:hover {
  background: #fff;
  color: #222;
}

/* 取り消し線 */
.line-through {
  text-decoration: line-through;
}

.lead {
  margin: -0.2rem 0.2rem;
  font-size: 0.9rem;
}

/* トップ（index） */
.top-wrapper {
  background:
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.top {
  color: #fff;
}

.top.left-side {
  background-color: rgba(25,25,25,0.6);
  padding-left: 190px;
  margin-left: -190px;
  transform: skewX(-20deg);
  width: 80vw;
}

.top .site-title {
  transform: skewX(20deg);
  display: flex;
  justify-content: center;
  font-size: 6em;
  color: #fff;
  margin: 8rem auto;
  line-height: 1.2;
}

.top .button {
  transform: skewX(20deg);
  width: 10rem;
  margin: 5rem auto 1rem;
  font-size: 2rem;
  text-decoration: none;
}

.top.right-side {
  background-color: rgba(204,204,204,0.6);
  transform: skewX(-20deg);
  padding-right: 30vw;
  margin-right: -30vw;
}

.top .lead {
  transform: skewX(20deg);
  margin-top: 80vh;
  margin-left: 3rem;
  font-size: 1.5rem;
}

/* サイドバー */
.sidebar {
  height: 100vh;
  width: 40vw;
}

.side-wrapper {
  position: fixed;
  height: 100vh;
  transform: skewX(-15deg);
  width: 40vw;
  padding-left: 190px;
  margin-left: -190px;
  background-color: rgba(25,25,25,0.6);
}

.side-wrapper > * {
  transform: skewX(15deg);
}

.side-wrapper .site-title a {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  line-height: 1.2;
  margin: 3rem 0;
  display: block;
}

.global-nav {
  list-style: none;
  font-size: 1.2rem;
}

.global-nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 0.3rem 0;
}

.sns-list {
  display: flex;
  list-style: none;
}

.sns-list li {
  margin: 0 0.3rem;
}

.sns-list li a i {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

/* コンテンツ部分 */
.wrapper {
  display: flex;
  justify-content: space-evenly;
  background:
    linear-gradient(45deg, transparent 74px, transparent 75px, #c0c0c0 75px, #c0c0c0 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #c0c0c0 76px, #c0c0c0 77px, transparent 78px, transparent 109px);
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-color: rgba(245,245,245,0.5)
}

.wrapper .right-side {
  width: 60vw;
  margin: 1.5rem 0;
}

.contents {
  margin: 1rem 0.2rem;
  width: 90%;
}

.contents_h1 {
  font-size: 2rem;
  color: #666;
  position: relative;
  font-weight: 400;
}

.contents_h1::first-letter {
  color: #222;
  font-weight: 900;
}

.contents_h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
  border-bottom: double 4px rgba(0, 0, 0, 0.6);
}

.contents_p {
  margin: 1.2rem 0.6rem;
}

.list_dl {
  margin: 1.2rem 0.6rem;
}

.list_dl dt, .record_dl dt time {
  margin: 0.4rem;
  padding: 0.2rem;
}

.list_dl dt {
  border-left: 4px double rgba(0, 0, 0, 0.6);
}

.list_dl dt::first-letter {
  color: #666;
}

.list_dl dd {
  margin-top: -2.05rem;
  margin-left: 7rem;
}

/* 更新履歴 */
.record_title {
  font-weight: 400;
  color: #666;
  text-align: center;
  font-size: 1.5rem;
  border-left: 4px double rgba(0, 0, 0, 0.6);
  border-right: 4px double rgba(0, 0, 0, 0.6);
}

.record_dl {
  margin: 1.2rem;
}

.record_dl dt {
  text-decoration: underline;
}

.record_dl dd {
  margin-top: -1.65rem;
  margin-left: 8rem;
}

/* novelsの単独ページ */

.container {
  background: rgba(255,255,255,0.8);
  width: 90%;
  line-height: 1.7;
  margin: 1rem 0;
  padding: 1rem;
}

.container p {
  margin: 1.2rem 0.6rem;
}

.container h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

.container h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
